/* Your card CSS file */
.card-category {
  display: flex;
  height: 180px;
  border-radius: 8px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .1);
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.card-category:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.card-product{
  display: flex;
  height: 180px;
  border-radius: 8px;
  align-items: center;
  background: white;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .1);
  transition: 0.5s;
}

.card-product .card-product-info {
  padding: 17px;
}

.card-product img {
  height: 100%;
  width: 180px;
  object-fit: cover;
  border-radius: 8px 0px 0px 8px;
}

.card-product:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.card-trip{
  border-radius: 8px;
  box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, .1);
  transition: 0.5s;
  position: relative;
}

.card-trip:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.card-trip .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: flex-end;
  align-items: end;
}

.card-trip > img{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.card-trip .card-trip-user {
  position: absolute;
  right: 42px;
  top: 172px;
}

h2{
  color: rgb(70, 70, 70);
  margin: 0;
}

p{
  color: rgb(70, 70, 70);
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 0px;
}
